@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.rotate-animation {
  animation: rotate 10s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* CSS for pull-up animation */
@keyframes pullUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.pull-up {
  animation: pullUp 0.5s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tailwind CSS classes to use with animation */
.animate-fade-in {
  animation: fadeIn 1s ease-out;
}

.animation-delay {
  animation-delay: 0.5s;
}
/* Scroll Container */
.scroll-container {
  display: flex;
  overflow: hidden; /* Hide overflowing content */
  white-space: nowrap; /* Prevent content from wrapping */
  width: 100%;
  position: relative;
}

/* Scroll Content with Animation */
.scroll-content {
  display: inline-flex;
  animation: scroll 20s linear infinite;
}

/* Individual Scroll Items */
.scroll-item {
  display: inline-block;
  padding: 0 20px; /* Space between items */
}

/* Keyframes for Infinite Scroll */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* CSS for styling headings */
.head {
  font-size: 2.5rem;   
  color: #333333;
  font-weight: bold; 
  text-align: center;
  margin: 20px 0;     
  letter-spacing: 1px;     
}
